body {
  background-color: hsl(257, 40%, 49%); /* Used if the image is unavailable */
  background-image: url('images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 17px;
}
header img {
  width: 120px;
}
main {
  display: flex;
  padding: 15px;
}
.main-image img {
  max-width: 80%;
  min-width: 150px;
  padding-right: 20px;
}
.main-text {
  max-width: 500px;
  color: white;
  font-family: 'Poppins';
}
.button {
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  text-align: center;
  width: 50%;
  padding: 0.5rem 0;
  border-radius: 2rem;
}
.social {
  display: flex;
  justify-content: flex-end;

  color: white;
}
.social div {
  height: 0.5rem;
  width: 0.5rem;
  border: 2px solid white;
  border-radius: 50%;
  padding: 1.1rem;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social i {
  font-size: 1.3rem;
}
@media only screen and (max-width: 475px) {
  main {
    display: block;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .social {
    justify-content: center;
  }
}
