body{
   background-color: hsl(257, 40%, 49%); /* Used if the image is unavailable */
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat; 
    background-size: contain; 
}
header img{
    padding: 40px 0 0 40px;
    height: 30px;
}
main img {
    padding:40px 40px 0 40px;
    width: 80%;
    height: auto;
}
.main-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    padding-top: 45px;
    margin:0 auto;
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

}
.main-text p{
    font-size:1rem;
}
.button{
    
    color:hsl(257, 40%, 49%) ;
    background: white;
    padding: 20px 100px;
    border-radius:75px 75px 75px 75px  ;
   
}
.social{
    margin-bottom: 70px;
    display: flex;
    color: white;
    flex-direction:row;
    margin-top: 100px;
    justify-content: space-around;
    
}
.social div{
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius:50%;
 
  
}

.social i {
    transform: translate(13px, 11px);
    font-size: 1.7rem;

}
        

@media only screen and (min-width: 376px) {
    body {
        background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
 
    }
  header img{
    padding: 60px 0 0 80px;
    height: 60px;
    }
    main img {
        padding:60px 0 0 80px;
        width: 700px;
    }
    .container {
        display: flex;
    }
    
}
.main-text {
    display: flex;
    text-align:left;
    
}
    .main-text h1 {
        font-size: 2.8rem;
        margin-right: 20px;
        
    }
    
    .social {
        justify-content: flex-end;
    }
    .social div{
        margin-right: 50px;
    }
}